<div style="background:url('https://source.unsplash.com/1600x900/?value,math,matrix,code,tensor,algebra,chalkboard,portfolio,data');overflow:visible" class="imageContainerSmall">
    <div style="background:rgba(0,0,0,0.75)" class="imageContainerSmallDiv">  
        <div style="margin-top: auto;margin-bottom: auto;">
        	<div class="container">
				<h1>{{selectedPair[0]}} / {{selectedPair[1]}}</h1>				
        	</div>
        </div>
    </div>
</div>

<div class="container" style="text-align:left">
	<div class="row">

		<div style="text-align:center">
			<div class="spacing-25"></div>
			<button ng-class="selectedClass('Live')" ng-click="getLive()">LIVE</button>
			<button ng-class="selectedClass('5000')" ng-click="selectData(stateParams.path1, stateParams.path2, '5000')">5SEC </button><!--x6-->
			<button ng-class="selectedClass('30000')" ng-click="selectData(stateParams.path1, stateParams.path2, '30000')">30SEC</button><!--x2-->
			<button ng-class="selectedClass('60000')" ng-click="selectData(stateParams.path1, stateParams.path2, '60000')">1MIN </button><!--x5-->
			<button ng-class="selectedClass('300000')" ng-click="selectData(stateParams.path1, stateParams.path2, '300000')">5MIN </button><!--x6-->
			<button ng-class="selectedClass('1800000')" ng-click="selectData(stateParams.path1, stateParams.path2, '1800000')">30MIN</button><!--x2-->
			<button ng-class="selectedClass('3600000')" ng-click="selectData(stateParams.path1, stateParams.path2, '3600000')">1HR </button><!--x2-->
			<button ng-class="selectedClass('7200000')" ng-click="selectData(stateParams.path1, stateParams.path2, '7200000')">2HR </button><!--x2-->
			<button ng-class="selectedClass('14400000')" ng-click="selectData(stateParams.path1, stateParams.path2, '14400000')">4HR </button><!--x2-->
			<button ng-class="selectedClass('21600000')" ng-click="selectData(stateParams.path1, stateParams.path2, '21600000')">6HR </button><!--x3/2-->
			<button ng-class="selectedClass('43200000')" ng-click="selectData(stateParams.path1, stateParams.path2, '43200000')">12HR </button><!--x2-->
			<button ng-class="selectedClass('86400000')" ng-click="selectData(stateParams.path1, stateParams.path2, '86400000')">24HR </button><!--x2-->
		</div>

		<div class="spacing-10"></div>
		<hr>

		<div class="card">
			<div style="background:url('https://source.unsplash.com/1600x900/?value,math,matrix,code,tensor,algebra,chalkboard,portfolio,data');overflow:visible" class="imageContainerSmall">
			    <div style="background:rgba(0,0,0,0.75)" class="imageContainerSmallDiv">  
			        <div style="margin-top: auto;margin-bottom: auto;">
			        	<div style="padding:15px">
							<h1>Price Data</h1>				
			        	</div>
			        </div>
			    </div>
			</div>
			<div style="padding:16px">
				<div class="spacing-5"></div>
				<button class="btn btn-default" ng-click="getEma([20,40,80,160,320,640],'price')">EMA</button><!--select periods..?-->
				<button class="btn btn-default" ng-click="getTsf([20,40,80,160,320,640],'price')">TSF</button><!--select periods..?-->
				<button class="btn btn-default" ng-click="getBband([10],[1,2,3],'price')">BBAND</button><!--select periods / stD.?-->
				<!--<button class="btn btn-default" ng-click="getNn('price')">nn</button>-->
				<!--<button class="btn btn-default" ng-click="getPdf('price')">pdf</button>--><!--;)-->
				<hr>
				<div class="col-md-10"><highchart config="chartConfig"></highchart></div>
				<div class="col-md-2"><highchart config="bidAskChart"></highchart></div>
				<!--<highchart config="chartConfig"></highchart>-->
			</div>
		</div>

		<!--
		<h2>Order Book</h2><hr>
		<highchart config="bidAskChart"></highchart>
		-->

		<div class="card">
			<div style="background:url('https://source.unsplash.com/1600x900/?value,math,matrix,code,portfolio,data');overflow:visible" class="imageContainerSmall">
			    <div style="background:rgba(0,0,0,0.75)" class="imageContainerSmallDiv">  
			        <div style="margin-top: auto;margin-bottom: auto;">
			        	<div style="padding:15px">
							<h1>Market Change</h1>				
			        	</div>
			        </div>
			    </div>
			</div>
			<div style="padding:16px">
				<div class="spacing-5"></div>
				<!--<button class="btn btn-default" ng-click="getEma([20,40,80,160,320,640],'change')">ema</button>--><!--select periods..?-->
				<!--<button class="btn btn-default" ng-click="getTsf([20,40,80,160,320,640],'change')">tsf</button>--><!--select periods..?-->
				<button class="btn btn-default" ng-click="getBband([10],[1,2,3],'change')">BBAND</button><!--select periods / sD..?-->
				<!--<button class="btn btn-default" ng-click="getNn('change')">nn</button>-->
				<!--<button class="btn btn-default" ng-click="getPdf('change')">PDF</button>--><!--;)-->
				<hr>
				<highchart config="changeChart"></highchart>
			</div>
		</div>

		<div class="card">
			<div style="background:url('https://source.unsplash.com/1600x900/?value,math,matrix,code,portfolio,data,oscillator,wave');overflow:visible" class="imageContainerSmall">
			    <div style="background:rgba(0,0,0,0.75)" class="imageContainerSmallDiv">  
			        <div style="margin-top: auto;margin-bottom: auto;">
			        	<div style="padding:15px">
							<h1>Oscillator</h1>				
			        	</div>
			        </div>
			    </div>
			</div>
			<div style="padding:16px">
				<div class="spacing-5"></div>
				<button class="btn btn-default" ng-click="getMacd([20,40,80,160,320,640],'change')">MACD</button>
				<button class="btn btn-default" ng-click="getFosc([20,40,80,160,320,640],'change')">FOSC</button>
				<button class="btn btn-default" ng-click="getRsi([20,40,80,160,320,640],'change')">RSI</button>
				<hr>
				<highchart config="oscillatorChart"></highchart>
			</div>
		</div>

		<div class="card">
			<div style="background:url('https://source.unsplash.com/1600x900/?value,math,matrix,code,portfolio,data,oscillator,wave,probability');overflow:visible" class="imageContainerSmall">
			    <div style="background:rgba(0,0,0,0.75)" class="imageContainerSmallDiv">  
			        <div style="margin-top: auto;margin-bottom: auto;">
			        	<div style="padding:15px">
							<h1>Probability Density Analysis</h1>				
			        	</div>
			        </div>
			    </div>
			</div>
			<div style="padding:16px">
				<div class="spacing-5"></div>
				<button class="btn btn-default" ng-click="getPdf('change')">PDF</button>
				<hr>
				<highchart config="heatMapChart"></highchart>
			</div>
		</div>

		<div class="card">
			<div style="background:url('https://source.unsplash.com/1600x900/?value,math,matrix,code,portfolio,data,order,position');overflow:visible" class="imageContainerSmall">
			    <div style="background:rgba(0,0,0,0.75)" class="imageContainerSmallDiv">  
			        <div style="margin-top: auto;margin-bottom: auto;">
			        	<div style="padding:15px">
							<h1>Market Orders</h1>				
			        	</div>
			        </div>
			    </div>
			</div>
			<div style="padding:16px">
				<table class="table table-inverse table-hover">
				    <thead>
						<tr>
							<th>Type</th><!--not relevant.. just reverse asset1 and 2.. -->
							<th></th>
							<th></th>
							<th>Date</th>
						</tr>
				    </thead>
				    <tbody>
						<tr ng-repeat="order in orders">
							<td>{{order.type}}</td>
							<td>{{order.amount}} {{order.asset2}}</td>
							<td>{{order.price}} {{order.asset1}}</td>
							<td>{{order.createdAt | date :  "y MM-dd hh:mm.ss a"}}</td>
						</tr>
				    </tbody>
				</table>
			</div>
		</div>

	</div>
</div>

<div class="spacing-25"></div>

<div ng-include="'footer/index.tpl.html'"></div>

<div class="spacing-25"></div>
