.about {
	width:100%;
	background:url(/images/texture-bg.png) repeat;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.about-section-head {
	padding:100px 0 30px;
}

.about-section-head h3 {
	font-family:Jura;
	color:#000;
	font-size:4em;
	font-weight:600;
	margin-left:auto;
	margin-right:auto;
}

.about-section-head p {
	color:#737373;
	font-size:14px;
	width:60%;
	font-family:'Open Sans',sans-serif;
	line-height:20px;
	margin-top:15px;
}

.about-list i {
	color:#2AB996;
	padding-bottom:25px;
}

.about-list {
	padding-bottom: 100px;
}

.about-title h2 {
	font-family: 'Quicksand', sans-serif;
	font-size: 3em !important;
	font-weight: 300 !important;
	line-height: 200%;
	color:#222;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.about-des {
	font-family: 'Quicksand', sans-serif;
	line-height:190%;
	color:#222;
	font-size: 1.3em;
    width: 50%;
    display: table-cell;
    vertical-align: middle;
    margin-top: 5%;
}

.about-des-bold {
	font-weight: 500 !important;
	font-size: 25px;
}

.about-des-span {
    max-width: 75%;
    margin-left: auto;
    margin-right: auto;
}

.about-top-area {
    //background-color: #a3a3a3;
    background: url(/images/portfolio/code.png) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: white;
    padding: 2%;
    height: auto;
}
.about-title-top {
    color: white;
    font-family: 'Jura', sans-serif;
    font-weight: 400;
    font-size: 2.4em;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    width: 80%;
    padding-top: 40px;
}

.about-title-bottom {
    color: black;
    font-family: 'Jura', sans-serif;
    font-weight: 400;
    font-size: 30px;
    text-align: center;
    width: 80%;
    margin-top: 3%;
}

.message-about {
    font-size: 1.1em;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
}

.interested-about {
    font-size: 1.2em;
    font-weight: 500;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    padding-right: 7.5%;
    padding-left: 7.5%;
}

.interested-about p a {
	color: white;
	text-transform: uppercase;
}

.interested-about p a:hover {
	text-decoration: underline;
}

.about-tile-area {

}

.about-row {
    position: relative;
    height: auto;
    min-height: auto;
    display: table;
}

.about-tile {
    position: relative;
    width: 50%;
    height: auto;
    overflow: hidden;
}

.left {
    float: left;
}

.right {
    float: right;
}

.about-tile-title {
	font-weight: 500;
}

.overlay-about {
    font-family: 'Quicksand', sans-serif;
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    padding: 5%;
}

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
{
    .interested-about p {
        font-size: .8em;
    }
    .interested-about p a {
        font-size: 1em;
        text-decoration: underline;
    }
}

@media screen and (max-width: 1200px) {
    .about-des-span {
        font-size: 0.9em;
    }
    .about-des {
        margin-top: 3%;
    }
}

@media screen and (max-width: 1040px) {
    .about-tile {
        width: 100%;
    }
    .about-des {
        display: none;
    }
}

@media screen and (max-width: 720px) {
    .about-tile {
        width: 100%;
    }
    .home-pad {
        margin-left: 67px;
    }
}