html, body {
    height:100%;
    background-color: #000;  
    overflow-x:hidden!important;
    margin:0;
    padding:0;
}

a:hover {
	text-decoration: underline;
}

.header {
	width:100%;
}

.banner {
    background: url(/images/overlay.png),url(/images/bg.png) no-repeat fixed;
	background-color:#3d454a;
	cursor:default;
    height: 100vh;
    min-height: 100vh;
    background-size: cover;
    border-bottom: 3px solid #2ab996;
}

.banner-text {
	width:70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    display: inline-block;
}

.banner-text h2 {
	color:#fff;
	font-family:Jura;
	font-size:6em;
	font-weight:400;
	line-height:1.5;
}

p.under-tagline {
	color:#FFF;
	font-size:1.5em;
	line-height:30px;
	margin-top:25px;
	margin-bottom: 25px;
	font-family: 'Quicksand', sans-serif;
}

.learn-more {
	font-family: 'Quicksand', sans-serif;
	font-size: 2em;
	text-transform: uppercase;
}

.learn-more:hover {
	text-decoration: underline;
}

button.mainbutton {
	background:none repeat scroll 0 0 transparent;
	border:1px solid rgba(255,255,255,0.2);
	padding:10px 25px;
	color:#FFF;
	text-transform:uppercase;
	font-size:16px;
	font-family: 'Quicksand', sans-serif;
	font-weight:300;
	transition:all .3s ease 0;
	border-radius:3px;
	margin-top:25px;
	cursor:pointer;
}

button.mainbutton:hover {
	background:#2AB996;
	color:#fff;
}

button.mainbutton:focus {
	outline:0;
}

button.service-button {
	background:none repeat scroll 0 0 transparent;
	border:1px solid rgba(0,0,0,0.2);
	padding:10px 25px;
	color:black;
	text-transform:uppercase;
	font-size:16px;
	font-family: 'Quicksand', sans-serif;
	font-weight:300;
	transition:all .3s ease 0;
	border-radius:3px;
	margin-top:25px;
	cursor:pointer;
}

button.service-button:hover {
	background:#2AB996;
	color:#fff;
}

button.service-button:focus {
	outline:0;
}

.services {
	width:100%;
	background:url(/images/texture-bg.png) repeat;
	height: 85vh;
	min-height: 750px;
	border-top: 3px solid #2ab996;
	position: relative;
	z-index: 2;
}

.tri-wrap {
    position: relative;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}

.section-head {
	padding:70px 0 20px;
}

.section-head h3 {
	font-family:Jura;
	color:#000;
	font-size:4em;
	font-weight:600;
	margin-left:auto;
	margin-right:auto;
}

.section-head p {
	color:#737373;
	font-size:14px;
	width:60%;
	font-family:'Open Sans',sans-serif;
	line-height:20px;
	margin-top:15px;
}

.services-list i {
	color:#2AB996;
}

.icon1 {
	background-position:2px 0;
}

.icon2 {
	background-position:-97px 0;
}

.icon3 {
	background-position:-201px 0;
}

.services-list {
}

.service-title h2 {
    position: relative;
    z-index: 80;
	font-family: 'Quicksand', sans-serif;
	font-size: 2.2em !important;
	font-weight: 300 !important;
	line-height: 200%;
	color:white;
	margin-top: -250px;
	margin-bottom: 10px;
}

.service-title-bar {
    color: white !important;
    background: rgba(0,0,0,0.7);
    border: 1px solid white;
    transition: background 0.3s;
}

.service-title-bar:hover {
    color: white;
    background: rgba(42,185,150, 1.0);
}

.service-des {
	font-family: 'Quicksand', sans-serif;
	line-height:190%;
	color:#222;
	background: rgba(255,255,255,0.8);
	border: 1px solid black;
	z-index: 85;
	position: relative;
	margin-top:30px;
	font-size: 1.3em;
	padding: 2%;
}

.name {
	font-family: 'Quicksand', sans-serif;
    font-size: 30px;
    color: #2ab996;
    font-weight: 800 !important;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    padding-top: 10px;
}

.portfolio-home-container {
    cursor: default;
    height: 30vh;
    min-height: 250px;
}

.portfolio-home {
    background: url('/images/portfolio/art.jpg') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
}

.portfolio-mask {
    z-index: -8;
    font-size: .85em !important;
}

.newsletter-home-container {
    cursor: default;
    height: 30vh;
    min-height: 30vh;
    margin-left: auto;
    margin-right: auto;
}

.newsletter-home {
    background: url('/images/stock5.jpg') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.newsletter-mask {
    z-index: -9;
    font-size: .85em !important;
}

.team-member {
	padding-bottom: 40px;
	padding-right: 0px;
	padding-left: 0px;
}

.desc {
	position: relative;
	z-index: 3;
	background:url(/images/overlay.png),url(/images/bg.png) no-repeat fixed;
	padding:75px 0px 100px 0px;
	cursor:default;
	width:100%;
	text-align:center;
	border-bottom: 3px solid #2ab996;
}

.desc h3 {
	font-family:Jura;
	font-size:50px;
	font-weight:600;
	color:#2AB996;
}

.desc h3 a {
	font-family:Jura;
	font-size:50px;
	font-weight:600;
	color:#2AB996;
}

.desc h2 {
	font-family: 'Quicksand', sans-serif;
	font-size:20px;
	font-weight:100 !important;
	color:#fff;
}

.desc p {
	color:#737373;
	width:90%;
	font-size:20px;
	line-height:30px;
	margin:25px auto 0;
	text-shadow:1px 1px 1px #000;
}

.desc img {
	width:175px;
	margin: 0px 0px -15px 0px;
	border:4px solid #fff;
	border-radius:300px;
	-webkit-border-radius:300px;
	-moz-border-radius:300px;
	-webkit-filter:grayscale(100%);
	filter:grayscale(100%);
	filter:gray;
}

.desc #team {
	padding-top:60px;
	padding-right: 50px;
	padding-left: 50px;
}

.desc .mainbutton {
	margin-left:auto;
	margin-right:auto;
}

.about {
	width:100%;
}

.about {
	//background:url(/images/overlay2.png),url(/images/keys.jpg) no-repeat fixed;
}

.blog {
	margin-bottom:100px;
}

.about h2 {
	text-align:left;
}

.hide-bullets {
	list-style:none;
	margin-left:-40px;
	margin-top:20px;
}

.contact, .contact-section {
	padding-bottom: 30px;
	position: relative;
	z-index: 50;
	margin-top: -110px;
	margin-left: auto !important;
	margin-right: auto !important;
	text-align: center;
}

.surface-container-home {
	position: relative;
	z-index: 4;
	margin-left: auto;
    margin-right: auto;
	width:100%;
	height: auto;
	background:url(/images/texture-bg.png) repeat;
}
.contact-container {
	padding-top: 100px;
	padding-bottom: 50px;
	//background: url(/images/texture-bg.png) repeat;
	//border-bottom: 3px solid #2ab996;
}

.contact-home {
	margin-left: auto;
    margin-right: auto;
    font-family: 'Quicksand', sans-serif;
    font-weight: 300;
    color: black;
    text-align: justify;
    padding-left: 20px;
    padding-right: 20px;
}

.contact-title-home {
    font-family: 'Jura', sans-serif;
    font-weight: 600;
    font-size: 50px;
    color: black;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

.interested-home {
    font-size: 1.3em;
    font-weight: 500;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

.contact-us-home {
    margin-top: 20px;
    margin-bottom: 45px;
    font-size: 2em;
    font-weight: 300;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

.contact-us-home a {
    font-size: 1.3em;
    font-weight: 500;
}

.center-home {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	width: 100%;
	max-width: 100%;
	text-align: center;
	padding-right: 10%;
	padding-left: 10%;
}

.message-home {
    font-size: large;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
}

.office-home {
	width: 20%;
	min-width: 200px;
	padding: 10px;
}

.small-medium-home {
	position: relative;
	width: 190px;
	height: auto;
	padding: 0px 0px 0px 0px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.newsletter-section {
    position: relative;
    z-index: 5;
    font-size: large;
    margin-right: auto !important;
    margin-left: auto !important;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    color: #fff;
    padding-top: 40px;
    padding-left: 20px;
    padding-right: 20px;
}

/*.newsletter-border {
	width: 800px;
	height: 300px;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
	border: 5px solid #2ab996;
}*/

.display-none {
	display: none;
}

input:focus {
	outline:none;
}

.loader {
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	background:rgba(255,255,255,.15);
	width:0;
	z-index:99;
	pointer-events:none;
	-webkit-transition:3s all ease;
	transition:3s all ease;
}

.loader.full {
	width:100%;
}

.loader.done {
	background:#e74c3c;
	-webkit-transition:.3s all ease;
	transition:.3s all ease;
	height:0;
}

input {
	line-height:80px;
	width:100%;
	font-size:24px;
	padding:0 20px;
	border:none;
	cursor:pointer;
	color:black;
	position:relative;
	z-index:10;
	background:transparent;
	color:transparent;
	font-weight:300;
	-webkit-transition:.3s all ease;
	transition:.3s all ease;
}

input.full {
	pointer-events:none!important;
	width:0;
}

.indicator {
	font-family: 'Quicksand', sans-serif;
	position:absolute;
	left:0;
	bottom:0;
	right:0;
	height:5px;
	background:#2AB996;
	-webkit-transition:.3s all ease;
	transition:.3s all ease;
	z-index:9;
}

.indicator:after {
	content:attr(data-content);
	position:absolute;
	top:-50px;
	left:0;
	right:0;
	bottom:0;
	color: black;
	-webkit-transition:inherit;
	transition:inherit;
	font-size:1.5em;
	z-index:999;
	text-align:center;
	font-weight:300;
}

.newsletter-input input:focus {
	color:#fff;
}

input:focus + .indicator {
	height:100%;
}

input.full:focus + .indicator {
	height:5px;
	color:#2AB996;
}

input:focus + .indicator:after {
	color:#2AB996;
}

.contact-section .ctr {
    display:block;
	position:relative;
	width:500px;
	margin-left:auto;
	margin-right:auto;
}

/*@media only screen and (max-width: 1200px) { 
.banner-text {
    margin-top: -120px;
}
}*/
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
{
	.banner {
		padding-top: 10%;
	}
	.banner-text {
		margin-top: 0px;
	}
	.section-head {
		padding: 50px 0 15px;
	}
	.services-list {
		padding-bottom: 75px;
	}
	.desc {
		padding: 50px 0px 75px 0px;
	}
	.portfolio-link a {
		text-decoration: underline;
		font-size: 40px !important;
		padding-left: 3%;
		padding-right: 3%;background: url(/images/texture-bg.png) repeat;
	}
	.contact-container {
		padding-top: 50px;
		padding-bottom: 50px;
	}
	.contact-title-home {
		font-size: 35px;
	}
  	.interested, .interested-home {
  		font-size: 1em !important;
  	}
  	.contact-us, .contact-us-home {
  		font-size: 1.4em !important;
  	}
  	.contact-us a, .contact-us-home a {
  		font-size: large !important;
  		font-weight: 400 !important;
  	}
  	.newsletter-section {
  		padding-bottom: 40px;
  	}
  	.newsletter, .newsletter-home {
  		font-size: 1.5em !important;
  	}
  	.contact, .contact-section {
  		padding-bottom: 50px;
  	}
  	.small-medium {
  		padding-bottom: 15% !important;
  	}
  	.opacity {
  		opacity: 1.0 !important;
  	}
}

@media only screen and (max-width: 900px) {
	h2 {
	    font-size: 45px;
	}

	.contact .section-head {
		margin-left:15px;
		margin-right:15px;
	}

	p.under-tagline {
		font-size:18px;
	}

	.indicator:after {
		content:attr(data-content);
		position:absolute;
		top:-80px;
		left:0;
		right:0;
		bottom:0;
		color:white;
		-webkit-transition:inherit;
		transition:inherit;
		font-size:1em;
		z-index:999;
		text-align:center;
		font-weight:300;
	}

	.banner-text h2 {
		font-size:45px;
		font-weight:500;
		line-height:1.5;
	}

	.banner-text p {
		font-size:20px;
		font-weight:500;
	}

	.services-list i {
		color:#2AB996;
		padding-bottom:0px;
		padding-top:40px;
	}
	.contact-section .ctr {
	    display:block;
		position:relative;
		width:50%;
		margin-left:auto;
		margin-right:auto;
		text-align: center;
	}
	.small-medium {
  		padding-bottom: 15% !important;
  	}
  	.opacity {
  		opacity: 1.0 !important;
  	}
}
@media only screen and (max-width: 767px) {
	h2 {
	    font-size: 35px;
	}
	}
	@media only screen and (max-width: 450px) {
	.services-list h2 {
	    font-size: 25px !important;
	}
	.section-head h3 {
	    font-size: 35px;
	}
}