.block{
  position: relatve;
  width: 200px;
  height: 200px;
  margin: 5% auto;
}

.cube{
  position: relative;
  transition:transform .5s;
  transform-style: preserve-3d;
}

.cube.outer{
  width: 200px;
  height: 200px;
  transform-style: preserve-3d;
  animation: spin 4s infinite cubic-bezier(.67,.03,.31,.98);
}

.cube.outer > .cube{
  width: 100px;
  height: 100px;
  transform: translateX(50px) translateY(50px);
  animation: spin-inner 4s infinite cubic-bezier(.67,.03,.31,.98);
}

.shape{
  width: 100px;
  height: 100px;
}

.side{
  position: absolute;
  width: 100%;
  height: 100%;
  font-size: 30px;
  line-height: 100px;
  text-align: center;
  opacity: .9;
  transition: all .2s linear;
  border: 3px solid black;
  background: rgba(255,255,255, 0.1);
  box-shadow: inset 0 0 100% 0 rgba(255, 255, 255, .1);
  box-sizing: border-box;
}

.outer > .cube .side {background: rgba(255, 255, 255, 0.05);}

.side.left{transform: translateX(-50px) rotateY(-90deg);}
.cube.outer > .side.left{transform: translateX(-100px) rotateY(-90deg);}

.side.right{transform: translateX(50px) rotateY(90deg);}
.cube.outer > .side.right{transform: translateX(100px) rotateY(90deg);}

.side.top{transform: translateY(-50px) rotateX(90deg);}
.cube.outer > .side.top{transform: translateY(-100px) rotateX(90deg);}

.side.bottom{transform: translateY(50px) rotateX(-90deg);}
.cube.outer > .side.bottom{transform: translateY(100px) rotateX(-90deg);}

.side.front{transform: translateZ(50px); }
.cube.outer > .side.front{transform: translateZ(100px);}

.side.back{transform: translateZ(-50px) rotateX(180deg);}
.cube.outer > .side.back{transform: translateZ(-100px) rotateX(180deg);}

@keyframes spin {  
  0% {transform: rotateX(0deg) rotateY(0deg);}
  33.333% {transform: rotateX(-35deg) rotateY(-45deg);}
  66.666% {transform: rotateX(-35deg) rotateY(45deg);}  
  100% {transform: rotateX(0deg) rotateY(0deg);}
}

@keyframes spin-inner {
  0% {transform: translateX(50px) translateY(50px) rotateY(0deg) rotateX(90deg);}
  33.333% {transform: translateX(50px) translateY(50px) rotateY(90deg) rotateX(90deg);}
  66.666% {transform: translateX(50px) translateY(50px) rotateY(-90deg) rotateX(90deg);}
  100% {transform: translateX(50px) translateY(50px) rotateY(0deg) rotateX(90deg);}
}







/* Bob */
@-webkit-keyframes hvr-bob {
  0% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }

  50% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }

  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}

@keyframes hvr-bob {
  0% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }

  50% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }

  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}

@-webkit-keyframes hvr-bob-float {
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}

@keyframes hvr-bob-float {
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}

.hvr-bob {
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
}

.hvr-bob:hover, .hvr-bob:focus, .hvr-bob:active {
  -webkit-animation-name: hvr-bob-float, hvr-bob;
  animation-name: hvr-bob-float, hvr-bob;
  -webkit-animation-duration: .3s, 1.5s;
  animation-duration: .3s, 1.5s;
  -webkit-animation-delay: 0s, .3s;
  animation-delay: 0s, .3s;
  -webkit-animation-timing-function: ease-out, ease-in-out;
  animation-timing-function: ease-out, ease-in-out;
  -webkit-animation-iteration-count: 1, infinite;
  animation-iteration-count: 1, infinite;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-direction: normal, alternate;
  animation-direction: normal, alternate;
}

.intro {
    position: relative;
    top: 0;
}
.intro-container {
    cursor: default;
    height: 100vh;
    min-height: 100vh;
    z-index: 1;
}
.intro-mask {
    z-index: 2;
}
.intro-img {
  visibility: hidden;
  position: absolute;
  top: 0%;
  left: 0%;
  min-width: 100%;
  min-height: 28%;
  width: auto;
  height: auto !important;
  z-index: -4;
  overflow: hidden;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.large-text {
    font-family: 'Jura', sans-serif;
    font-weight: 400;
    font-size: 15em;
    letter-spacing:-0.09em;
}
.large-medium-text {
    font-family: 'Jura', sans-serif;
    font-weight: 400;
    font-size: 12em;
    letter-spacing:-0.09em;
}
.medium-text {
    font-family: 'Barlow', sans-serif;
    font-weight: 400;
    font-size: 4em;
    letter-spacing: .05em;
}
.small-text {
    font-family: 'Jura', sans-serif;
    font-weight: 400;
    font-size: 2.5em;
    letter-spacing:-0.09em;
}
.learn-more {
  font-size: 25px !important;
}
.tri-after {
  opacity: 0;
  transition: opacity .2s;
}
.tri-after:hover {
  opacity: 1.0;
}
.intro-container svg {
    width: 100%;
    height: 100%;
}
.intro-container svg text {
    text-anchor: middle;
}
.intro-container svg mask rect {
    fill: rgba(255, 255, 255, 1.0);
    opacity: 0.75;
}
.intro-container svg > .intro-rect {
    //fill: #2ab996;
    fill: #ebeeff;
    opacity: 0.75;
    -webkit-mask: url(#intro-mask);
    mask: url(#intro-mask);
}

video {
  position: absolute;
  top: 0%;
  left: 0%;
  min-width: 100%;
  min-height: 28%;
  width: auto;
  height: auto;
  overflow: hidden;
}

/* media queries */
@media only screen and (max-width: 1200px) {
  svg {
    font-size:0.8em !important;
  }
}
@media only screen and (max-width: 1024px) {
  svg {
    font-size:0.8em !important;
  }
}
@media only screen and (max-width: 840px) {
  svg {
    font-size:0.8em !important;
  }
}