<div ng-show="currentUser">
	<div class="container" style="text-align:left">
		<h1>dashboard</h1>
		<p>portfolio set</p>
		<p>link in wallets, connect api keys, fund account</p>
		<canvas id="doughnut" class="chart chart-doughnut"
		  chart-data="portfolioData" chart-labels="portfolioLabels">
		</canvas> 
	</div>
</div>

<div ng-show="!currentUser" >
	<div ng-include="'intro/index.tpl.html'"></div>
	<!--<nvd3 options='options' data='data'></nvd3>
	<nvd3 options='directedOptions' data='directedData'></nvd3>-->

	<div class="container" id="about">
		<div style="height:50px;"></div>
		<div class="row">
			<div class="col-sm-12">
			    <div style="text-align:left;" id="header-text-area">
			       <h1>empowered financial representation</h1>
			       <h3 style="">backed by sound, open data</h3>
			    </div>
			</div>
		</div>
		<div style="height:50px;"></div>
	</div>

	<div class="container" style="text-align:left">
		<div style="height:100px;"></div>
		<div class="row">
			<div class="col-sm-6">
				<h3>sound financial representation </h3>
				<p>intellligence; continually learning</p>
				<p>a community of transparent analysts</p>
				<p>select financial representatives</p>
			</div>
			<!--<div class="col-sm-6">
				<img src="images/tesseract-bg.png">
			</div>-->
		</div>
		<div style="height:100px;"></div>
		<div class="row">
			<div class="col-sm-4">
				<img src="images/tesseract-bg.png">
			</div>
			<div class="col-sm-8" style="text-align:right">
				<h3>collaboration and contribution</h3>
				<p>contribute. collab. invest.</p>
			</div>
		</div>
		<div style="height:100px;"></div>
		<div class="row">
			<div class="col-sm-12">
				<h3><i class="fa fa-file-o"></i> open and transparent data</h3>
				<p>data we use, data we prouduce, together.</p>
			</div>
		</div>
		<div style="height:100px;"></div>
		<div class="row">
			<div class="col-sm-12" style="text-align:right">
				<h3><i class="fa fa-wrench"></i> cutting edge analysis at scale</h3>
				<p>distributed networks working together to give you the cutting edge.</p>
				<p>a computational network designed to normalize risk and equalize investment returns.</p>
			</div>
		</div>
		<div style="height:100px;"></div>
		<div class="row">
			<div class="col-sm-12">
				<h3><i class="fa fa-cogs"></i> transparent financial results </h3>
				<p>data-backed with proven results</p>
				<!--<p>powerful apis</p>-->
			</div>
		</div>
		<div style="height:100px;"></div>
		<div class="row">
			<div class="col-sm-12">
				<p class="lead">nice...</p>
				<a href="/about" class="btn btn-default">now let me see some numbers</a>
				<br><br>
			</div>
		</div>
	</div>

	<!--
	<div style="background-color:rgb(220,220,220);">
		<br><br><br>
		<h1 style="text-align:center;">why you'll love investingfor</h1>
		<br><br>
		<p style="text-align:center;"><i style="font-size:256px;" class="fa fa-heart-o"></i></p>
		<p class="lead" style="text-align:center;">the computing power around us is immense!</p>
		<br>
		<p class="lead" style="text-align:center;">investingfor uses the idle power of the computational potiental around us.</p>
		<br>
		<p class="lead" style="text-align:center;">what if our devices were working toward a common goal?</p>
		<br>
		<p class="lead" style="text-align:center;">extract value by earning crypto-backed <a href="http://www.epoint.me/market/investment-point">investment points</a>.</p>
		<br>
		<p class="lead" style="text-align:center;">investingfor us all.</p>
		<br><br><br>
	</div>
	-->

	<div style="text-align:left">
		<br><br><br>
		<div class="container" style="">
			<h1>market exposure</h1>
			<!--<nvd3 options='options' data='data'></nvd3>-->
			<br><br>
			
			<div ng-repeat="pair in tradingPairs">
				<div class="col-md-3 col-sm-4 col-xs-6 ">
					<a href="market/{{pair.split('/')[1]}}/{{pair.split('/')[0]}}">{{pair.split('/')[1]}}/{{pair.split('/')[0]}}</a>
				</div>
			</div>

			<!--<div class="col-md-3">
				<div ng-repeat="pair in tradingPairs">
					<a ng-show="pair.split('/')[1] == 'BTC'" href="market/{{pair.split('/')[1]}}/{{pair.split('/')[0]}}">{{pair.split('/')[1]}}/{{pair.split('/')[0]}}</a>
				</div>
			</div>
			<div class="col-md-3">
				<div ng-repeat="pair in tradingPairs">
					<a ng-show="pair.split('/')[1] == 'USDT'" href="market/{{pair.split('/')[1]}}/{{pair.split('/')[0]}}">{{pair.split('/')[1]}}/{{pair.split('/')[0]}}</a>
				</div>
			</div>
			<div class="col-md-3">
				<div ng-repeat="pair in tradingPairs">
					<a ng-show="pair.split('/')[1] == 'ETH'" href="market/{{pair.split('/')[1]}}/{{pair.split('/')[0]}}">{{pair.split('/')[1]}}/{{pair.split('/')[0]}}</a>
				</div>
			</div>
			<div class="col-md-3">
				<div ng-repeat="pair in tradingPairs">
					<a ng-show="pair.split('/')[1] == 'XMR'" href="market/{{pair.split('/')[1]}}/{{pair.split('/')[0]}}">{{pair.split('/')[1]}}/{{pair.split('/')[0]}}</a>
				</div>
			</div>-->

		</div>
	</div>

	<br><br><br>

	<div style="text-align:left;color:gray;background-color:black;">
		<style>.nvd3 text{color:gray;fill:gray;}.nvd3 .nv-axis line{stroke:gray;}</style>
		<br><br><br>
		<div class="container">
			<h1>activity</h1>
			<nvd3 options='marketOptions' data='marketGraphDataRender'></nvd3>
			<br>
			<h4>sound and transparent investments</h4>
			<!--daily return vs index..-->
			<br><br>
			<h1>order book</h1><br>
			<div ng-repeat="order in orders">
				<p>{{order.assetPair}} <!--{{order.type}}--> traded {{order.amount}} {{order.asset1}} for {{order.asset2}} at {{order.price}}: {{order.createdAt}}</p>
			</div>
			<br><br>
		</div>
	</div>

	<div ng-include="'register/index.tpl.html'"></div>
</div>

