<div class="container" style="text-align:left">

	<h1>markets</h1>

	<!--<div ng-repeat="pair in tradingPairs">
		<div class="col-md-3 col-sm-4 col-xs-6 ">
			<a href="market/{{pair.split('/')[1]}}/{{pair.split('/')[0]}}">{{pair.split('/')[1]}}/{{pair.split('/')[0]}}</a>
		</div>
	</div>-->

	<h5>overlay percentage change</h5>
	<nvd3 options='marketOptions' data='marketDataRenderRender'></nvd3>

	<p class="btn btn-default" ng-click="selectTime(60000,'BTC')">1min</p>
	<p class="btn btn-default" ng-click="selectTime(300000,'BTC')">5min</p>
	<p class="btn btn-default" ng-click="selectTime(1800000,'BTC')">30min</p>
	<p class="btn btn-default" ng-click="selectTime(3600000,'BTC')">1hr</p>
	<p class="btn btn-default" ng-click="selectTime(7200000,'BTC')">2hrs</p>
	<p class="btn btn-default" ng-click="selectTime(14400000,'BTC')">4hrs</p>
	<p class="btn btn-default" ng-click="selectTime(21600000,'BTC')">6hrs</p>
	<p class="btn btn-default" ng-click="selectTime(43200000,'BTC')">12hrs</p>
	<p class="btn btn-default" ng-click="selectTime(86400000,'BTC')">24hrs</p>
	<div style="height:100px;"></div>
	<p class="btn btn-default" ng-click="solvePortfolio('60000', 100)">Solve</p>
</div>

<div class="container" style="text-align:left">

	<div class="col-md-12">
		<div ng-repeat="portfolio in portfolioData.portfolioSet">{{portfolio}}</div>
	</div>

	<div class="col-md-12">
		<div ng-repeat="order in portfolioData.orderSet"> {{order.amount}} {{order.asset1}} --@{{order.price}}--> {{order.amount / order.price}} {{order.asset2}}</div>
	</div>

</div>

<div style="height:100px;"></div>

<div ng-include="'footer/index.tpl.html'"></div>

