.blog-input{
 	width:48%;
 	margin:0px auto;
}

.blog-input input:focus{
 	color:rgb(0,0,0);
}

.post-list-container{
	padding-left:67px;
	margin-left:10%;
	margin-right:10%;
}

.blog-post-container{
	padding-left:67px;
}

