@media (min-width: 1080px) and (max-width: 1200px) {
    .section-head {
        padding:80px 0 60px 25.5px;
    }

    .services-list {
        padding-bottom:80px;
    }

    .services-list li {
        width:313px;
        text-align:center;
        margin:0 25px;
    }

    .services-list i {
        padding-top:25px;
    }

    .desc {
        padding:80px 0;
    }

    .team {
        margin-bottom:80px;
    }

    .team li {
        width:235px;
    }

    .team li img {
        width:235px;
        height:100%;
    }

    .contact-section {
        padding-bottom:80px;
    }

    .contact-form {
        width:550px;
    }
    .opacity {
        opacity: 1.0 !important;
    }
}

@media (max-width: 1079px) {
    #lg-menu, #lg-menu img {
        display: none !important;
    }

    #xs {
        display: block !important;
    }
        
    #xs img {
        width: 50px;
    }
}
@media (min-width: 992px) and (max-width: 1079px) {
    #xs img {
        width: 65px;
    }
    #xs {
        margin-bottom: 100px;
    }
}

@media (min-width: 768px) and (max-width: 1080px) {
    .banner-text h2 {
        font-size:25px;
    }

    p.under-tagline {
        color:#FFF;
        font-size:15px;
        line-height:30px;
        font-weight:300;
        margin-top:25px;
    }
    .services {
        height: auto !important;
    }
    .section-head {
        padding:60px 0 60px 25.5px;
    }

    .services-list {
        padding-bottom:60px;
    }

    .services-list li {
        width:229px;
        text-align:center;
        margin:0 10px;
    }

    .services-list i {
        padding-top:25px;
    }

    .services-list h4 {
        font-size:15px;
        padding-top:30px;
        text-transform:uppercase;
        color:#3D4351;
    }

    .desc {
        padding:60px 0;
    }

    .desc h3 {
        font-size:23px;
    }

    .desc p {
        color:#737373;
        width:90%;
        font-size:16px;
    }

    .team {
        margin-bottom:60px;
    }

    .team li {
        background-color:#FFF;
        width:275px;
        margin-left:60px;
        box-shadow:0 1px 1px -1px #888;
        margin-bottom:40px;
    }

    .contact-section {
        padding-bottom:60px;
    }

    .contact-form {
        width:97%;
    }
    .opacity {
        opacity: 1.0 !important;
    }
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {

    .banner-text {
        width:70%;
        padding:160px 0;
    }

    .banner-text h2 {
        font-size:25px;
        margin-top: -120px;
    }

    p.under-tagline {
        color:#FFF;
        font-size:15px;
        line-height:30px;
        font-weight:300;
        margin-top:25px;
    }
    .services {
        height: auto !important;
    }
    .section-head {
        padding:60px 0 60px 25.5px;
    }

    .services-list {
        padding-bottom:60px;
    }

    .services-list li {
        width:229px;
        text-align:center;
        margin:0 10px;
    }

    .services-list i {
        padding-top:25px;
    }

    .services-list h4 {
        font-size:15px;
        padding-top:30px;
        text-transform:uppercase;
        color:#3D4351;
    }

    .desc {
        padding:60px 0;
    }

    .desc h3 {
        font-size:23px;
    }

    .desc p {
        color:#737373;
        width:90%;
        font-size:16px;
    }
        
    .team {
        margin-bottom:60px;
    }

    .team li {
        background-color:#FFF;
        width:275px;
        margin-left:60px;
        box-shadow:0 1px 1px -1px #888;
        margin-bottom:40px;
    }

    .contact-section {
        padding-bottom:60px;
    }

    .contact-form {
        width:97%;
    }
}

@media (min-width: 640px) and (max-width: 768px) {
    .banner {
        background: url(../images/overlay.png),url(../images/bg.jpg) 
        no-repeat fixed;
    	-o-background-size:cover;
    	-moz-background-size:cover;
    	-webkit-background-size:cover;
    	background-size:cover;
        cursor:default;
    }
    
    .banner-text {
        width:70%;
        margin:0 auto;
        padding:60px 0;
    }

    .banner-text h2 {
        color:#FFF;
        font-size:21px;
        font-weight:300;
        line-height:1.5;
    }

    p.under-tagline {
        color:#FFF;
        font-size:14px;
        line-height:30px;
        font-weight:300;
        margin-top:25px;
    }
    .services {
        height: auto !important;
    }
    .section-head {
        padding:60px 0 60px 25.5px;
    }

    .services-list {
        padding-bottom:60px;
        float:none;
    }

    .services-list li:first-child {
        margin-left:auto;
    }

    .services-list li {
        width:350px;
        text-align:center;
        margin:20px auto;
        float:none;
    }

    .services-list i {
        padding-top:25px;
    }

    .services-list li:last-child {
        margin-right:auto;
    }

    .desc {
    	background:url(../images/overlay.png),url(../images/bg.png) no-repeat fixed;
    	-o-background-size:cover;
    	-moz-background-size:cover;
    	-webkit-background-size:cover;
    	background-size:cover;
        padding:40px 0;
        cursor:default;
        width:100%;
        text-align:center;
    }

    .desc h3 {
        font-size:18px;
        font-weight:600;
        color:#FFF;
        text-shadow:1px 1px 1px #000;
    }

    .desc p {
        color:#737373;
        width:90%;
        font-size:14px;
        line-height:30px;
        margin:25px auto 0;
        text-shadow:1px 1px 1px #000;
    }

    .team {
        margin-bottom:60px;
    }

    .team li {
        background-color:#FFF;
        width:275px;
        margin-left:24px;
        box-shadow:0 1px 1px -1px #888;
        margin-bottom:24px;
    }

    .contact-section {
        padding-bottom:60px;
    }
}

@media (min-width: 480px) and (max-width: 640px) {
    .logo {
        width:100%;
        text-align:center;
    }

    .menu {
        width:100%;
        text-align:center;
    }

    .menu ul li {
        float:none;
        text-align:center;
        margin:0;
        padding:0;
    }

    ul#menu {
        position:static;
        display:none;
    }

    li {
        margin-bottom:1px;
    }
        
    .banner {
        background: url(../images/overlay.png),url(../images/bg.jpg) 
        no-repeat fixed;
    	-o-background-size:cover;
    	-moz-background-size:cover;
    	-webkit-background-size:cover;
    	background-size:cover;
        cursor:default;
    }

    .banner-text {
        width:100%;
        margin:0 auto;
        padding:20px 0;
    }

    .banner-text h2 {
        color:#FFF;
        font-size:22px;
        font-weight:300;
        line-height:1.5;
    }

    p.under-tagline {
        color:#FFF;
        font-size:14px;
        line-height:30px;
        font-weight:300;
        margin-top:25px;
    }
    .services {
        height: auto !important;
    }
    .section-head {
        padding:40px 0;
    }

    .section-head h3 {
        color:#000;
        font-size:30px;
        font-weight:300;
        text-align:center;
    }

    .services-list {
        padding-bottom:40px;
    }

    .services-list li:first-child {
        margin-left:auto;
    }

    .services-list li {
        width:350px;
        margin:20px 37.5px;
        text-align:center;
    }

    .services-list i {
        padding-top:25px;
    }

    .desc {
        background:url(../images/p.jpg) no-repeat fixed #3D454A;
        padding:40px 0;
        cursor:default;
        width:100%;
        text-align:center;
    }

    .desc h3 {
        font-size:19px;
        font-weight:600;
        color:#FFF;
        text-shadow:1px 1px 1px #000;
    }

    .desc p {
        color:#737373;
        width:90%;
        font-size:14px;
        line-height:22px;
        margin:25px auto 0;
        text-shadow:1px 1px 1px #000;
    }

    .team li {
        background-color:#FFF;
        width:275px;
        margin-left:80px;
        box-shadow:0 1px 1px -1px #888;
        margin-bottom:25px;
    }

    .team {
        margin-bottom:40px;
    }

    .contact-section {
        padding-bottom:40px;
    }
}

@media (min-width: 20px) and (max-width: 480px) {
    .logo {
        width:100%;
        text-align:center;
    }

    .menu {
        width:100%;
        text-align:center;
    }

    .menu ul li {
        float:none;
        text-align:center;
        margin:0;
        padding:0;
    }

    ul#menu {
        position:static;
        display:none;
    }

    li {
        margin-bottom:1px;
    }

    .banner {
        background: url(../images/overlay.png),url(../images/bg.jpg) 
        no-repeat fixed;
    	-o-background-size:cover;
    	-moz-background-size:cover;
    	-webkit-background-size:cover;
    	background-size:cover;
        padding:0px 0 40px;
        cursor:default;
    }

    .banner-text {
        width:100%;
        margin:0 auto;
        padding:20px 0;
    }

    .banner-text h2 {
        color:#FFF;
        font-size:16px;
        font-weight:300;
        line-height:1.5;
    }

    p.under-tagline {
        color:#FFF;
        font-size:12px;
        line-height:30px;
        font-weight:300;
        margin-top:25px;
    }
    .services {
        height: auto !important;
    }
    .section-head {
        padding:40px 0;
    }

    .services-list {
        padding-bottom:40px;
    }

    .services-list i {
        padding-top:25px;
    }

    .services-list li:first-child {
        margin-left:auto;
    }

    .section-head h3 {
        color:#000;
        font-size:30px;
        font-weight:300;
        text-align:center;
    }

    .services-list li {
        width:280px;
        margin:20px 0;
        text-align:center;
    }

    .desc {
        background:url(../images/p.jpg) no-repeat fixed #3D454A;
        padding:40px 0;
        cursor:default;
        width:100%;
        text-align:center;
    }

    .desc h3 {
        font-size:19px;
    }

    .desc p {
        width:90%;
        font-size:14px;
        line-height:22px;
        margin:25px auto 0;
    }

    .team li {
        width:275px;
        margin-left:2px;
        margin-bottom:25px;
    }

    .team {
        margin-bottom:40px;
    }

    .contact-section {
        padding-bottom:40px;
    }

    ul.socialmedia li {
        margin:0 10px;
        font-size:26px;
    }
}